<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>¡Bienvenido a la personalización de tu producto!</title>
</head>
<body>
  <h1>¡Bienvenido a la personalización de tu producto!</h1>
  <p>Hola {{ nombre_cliente }},</p>
  <p>¡Nos complace que hayas decidido adquirir nuestro producto!</p>
  <p>Estamos preparando los últimos detalles para la personalización del mismo.</p>
  <p>En las próximos momentos abriremos un chat para concretar los requisitos que nos faltan.</p>
  <p>En el siguiente enlace encontraras la web en la que tendrás que iniciar sesión:</p>
  <a href="{{ enlace_web }}">Enlace al proceso de personalización de tu pedido</a>
  <p>Tus credenciales son:</p>
  <ul>
    <li>Usuario: <b>{{ correo }}</b></li>
    <li>Contraseña: <b>{{ telefono }}</b></li>
  </ul>
  <p>¡No pierdas la oportunidad de crear un recuerdo único y especial!</p>
  <p>Atentamente,</p>
  <p>El equipo de Tira de Papel</p>
</body>
</html>
